---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import {getLangFromUrl} from '../../i18n/utils';

const posts = (await getCollection('blog')).filter(p => p.id.includes("en/")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={"InfoSec for kids"} description={"IT Security described through various children's stories so that children can gain an understanding, but also sometimes because it's easier for adults to understand in this way."} />
	</head>
	<body class="kids-theme">
        <Header />
		<main>
			<section>
				<ul class="kids-grid">
					{
						posts.map((post) => (
							<li class="kids-card">
									<h4 class="kids-subtitle">{post.data.title}</h4>
									<p>{post.data.description}</p>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
                                    <a class="kids-button" href={`/${post.id.split('/').join('/blog/')}`}>
										Läs Historia
									</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
        <script defer data-domain="hackaren.se" src="https://plausible.pluppen.com/js/script.js"></script>
	</body>
</html>
